<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Big Data Governance</title>
  <meta name="description" content="Big Data Governance" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Mobile Specific Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
  <!-- Bootstrap  -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <!-- icon fonts font Awesome -->
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <!-- Import Custom Styles -->
  <link href="css/style.css" rel="stylesheet">
  <!-- Import Custom Responsive Styles -->
  <link href="css/responsive.css" rel="stylesheet">
  <!-- Include jquery.min.js plugin -->
  <script src="js/jquery-2.1.0.min.js"></script>
 <!-- Javascript Plugins  -->
 <script src="js/plugins.js"></script>
<!-- Custom Functions  -->
<script src="js/functions.js"></script>
</head>
<body class="header-fixed-top" onload="loadFunction('<%=tag%>','<%=user%>')">
   <div id="page-top" class="page-top"></div>
   <!-- /.page-top -->
   <header id="main-menu" class="main-menu">
      <div class="container">
         <div class="row">
            <nav id="menu" class="menu collapse navbar-collapse">
              <ul id="headernavigation" class="menu-list nav navbar-nav">
                 <li><a href="/home">Home</a></li>
                 <li><a href="/roles">Roles</a></li>
                 <li><a href="/data">Data</a></li>
                 <li><a href="/user">Users</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li ><a href="/logout">Logout</a></li>
              </ul>
            </nav>
         </div>
      </div>
      </div>
      </div>
   </header>