<%- include('includes/header') %>
   <div class = "row">
      <div class ="container">
         <div class="contentbox2"></div>
      </div>
   </div>
   <footer>
      <div id="footer-top" class="footer-top">
         <div class="container">
            <div class="row text-center">
            <p >&copy; BigData Governance<p>
            </div>
            <!-- /.row -->
         </div>
         <!-- /.container -->
      </div>
      <!-- /#footer-top -->
   </footer>
   <div id="scroll-to-top" class="scroll-to-top">
      <span>
      <i class="fa fa-chevron-up"></i>    
      </span>
   </div>
<%- include('includes/footer') %>