<%- include('includes/header') %>
   <div class = "row">
      <div class ="container">
         <div class="contentbox" id="contentbox">
            <br>
            <div id="Message" align="center"></div>
            <br>
            <input type="text" id="myInput" onkeyup="searching(this.class)" placeholder="Search inside the column" title="Type in a name" style="visibility:hidden">
            <br><br>
         </div>
      </div>
   </div>
   <footer>
      <div id="footer-top" class="footer-top">
         <div class="container">
            <div class="row">
            </div>
            <!-- /.row -->
         </div>
         <!-- /.container -->
      </div>
      <!-- /#footer-top -->
   </footer>
   <div id="scroll-to-top" class="scroll-to-top">
      <span>
      <i class="fa fa-chevron-up"></i>    
      </span>
   </div>
   <!-- /#scroll-to-top -->
   <%- include('includes/footer') %>