<%- include('includes/header') %>
   <div class = "row">
      <div class ="container">
         <div class="contentbox">
            <br>
            <div id="Message" align="center"></div>
            <br>
            <table class="table  table-inverse" id="Userstable">
               <thead >
                  <tr>
                     <th>User Name</th>
                     <th>Role Type</th>
                     <th>Update</th>
                  </tr>
               </thead>
            </table>
         </div>
      </div>
   </div>
   <footer>
      <div id="footer-top" class="footer-top">
         <div class="container text-center">
            <div class="row">
            <p >&copy; BigData Governance<p>
            </div>
            <!-- /.row -->
         </div>
         <!-- /.container -->
      </div>
      <!-- /#footer-top -->
   </footer>
   <div id="scroll-to-top" class="scroll-to-top">
      <span>
      <i class="fa fa-chevron-up"></i>    
      </span>
   </div>
   <!-- /#scroll-to-top -->
   <%- include('includes/footer') %>